body {
    background-color: #fafafa;
    color: #060000;
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
    line-height: 1.5;
    margin: auto;
   
  }
  
  .table{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border: #060000;
  }
  .contener{
    background: #fff;
    border-radius: 10px;
    width: 80%;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }
  .delete{
    background: #2cfa3a;
    height: 25px;
    width: 70px;
    color: #060000;
    border-radius: 20px;
  }
  .approve{
    background: #2cfa3a;
    height: 25px;
    width: 70px;
    color: #060000;
    border-radius: 20px;
  }
  .reject{
    background: #fa552c;
    height: 25px;
    width: 70px;
    color: #060000;
    border-radius: 20px;
  }
/* nav bar */
  
nav {
    background-color: #333;
    padding: 10px 1px;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
  }
  
  
  nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
  }
  
  nav ul li {
    margin-right: 1px;
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
  }
  
   nav ul li a:hover {
  color: #0cf72b;
    background-color: #5d5959;
  } 
   .nav-links{
    color: #fff;
  padding: 5px 15px;
  border-radius: 5px;
  margin-right: 10px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
  
  } 
  
  .left-nav {
    display: flex;
    align-items: center;
  }
  
  
  
  .right-nav {
    display: flex;
    align-items: center;
    margin-right: 15px;
  }
  
  .link {
  color: #fff;
  
  padding: 5px 15px;
  border-radius: 5px;
  margin-right: 10px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
  }
  
  .link:hover {
  background-color: #5d5959;
  color: #b5b5ef;color:#0cf72b;
  } 
  
  
  
  .nav_button {
    position: relative;
    padding: 5px;
    margin: 5px;
    outline: none;
    border: 1px solid #303030;
    background: #333;
    color: #fdfcfd;
   
    font-size: 15px;
    overflow: hidden;
    transition: 0.2s;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  button:hover {
    box-shadow: 0 0 10px #ae00ff, 0 0 25px #001eff, 0 0 50px #ae00ff;
    transition-delay: 0.7s;
  }
  
  button span {
    position: absolute;
  }
  
  button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #ae00ff);
  }
  
  button:hover span:nth-child(1) {
    left: 100%;
    transition: 0.7s;
  }
  
  button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #001eff);
  }
  
  button:hover span:nth-child(3) {
    right: 100%;
    transition: 0.7s;
    transition-delay: 0.35s;
  }
  
  button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #ae00ff);
  }
  
  button:hover span:nth-child(2) {
    top: 100%;
    transition: 0.7s;
    transition-delay: 0.17s;
  }
  
  button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #001eff);
  }
  
  button:hover span:nth-child(4) {
    bottom: 100%;
    transition: 0.7s;
    transition-delay: 0.52s;
  }
  
  button:active {
    background: #ae00af;
    background: linear-gradient(to top right, #ae00af, #001eff);
    color: #bfbfbf;
    box-shadow: 0 0 8px #ae00ff, 0 0 8px #001eff, 0 0 8px #ae00ff;
    transition: 0.1s;
  }
  
  button:active span:nth-child(1) span:nth-child(2) span:nth-child(2) span:nth-child(2) {
    transition: none;
    transition-delay: none;
  }